{% load static %}

<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Website Saya{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'tentang' %}">Tentang</a>
    <a href="{% url 'kontak' %}">Kontak</a>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 Website Saya</p>
    </footer>

</body>
</html>