{% load static %}

<!DOCTYPE html>
<html lang="id">
<head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Website Saya{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS kita sendiri -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
</head>

<body>


    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">

            <a class="navbar-brand fw-bold" href="{% url 'home' %}">
                Website Saya
            </a>

            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">
                            Home
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tentang' %}">
                            Tentang
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'daftar_artikel' %}">
                            Artikel
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'kontak' %}">
                            Kontak
                        </a>
                    </li>

                </ul>
            </div>

        </div>
    </nav>

    <main class="py-5">
        <div class="container">

            {% block content %}
            {% endblock %}

        </div>
    </main>

    <footer class="bg-dark text-white py-4">
        <div class="container text-center">
            <p class="mb-1 fw-bold">
                Website Saya
            </p>

            <small class="text-secondary">
                &copy; 2026 Website Saya. All rights reserved.
            </small>
        </div>
    </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>